@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#000dff 0.5px, transparent 0.5px), radial-gradient(#000dff 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;

}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background:#3866f2;
  border-radius: 20px;
}


/*CARDS*/

.card-title, .card-text{
  text-align: center;
}

.cards-intro{
  margin-top: 20px;
}

.card-title{
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.card-text{   
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.card{
  border-radius: 1rem;
  background: linear-gradient(0deg, rgba(20,182,254,1) 0%, rgba(89,184,233,1) 100%);
  border:0px;
}


/*grafico*/
.grafico{
  border-radius: 2rem;
  margin-top: 20px;
  background: #fff;

}

#chartdiv {
  width: 100%;
  height: 500px;
}


/*footer*/

footer{
  background: #fff;
  margin: 0px;
  margin-top:50px;

}

.form-aluno{
  background: rgb(231, 243, 242);
  margin-top: 20px;
  padding:20px;
  border-radius: 20px;

}


.dataTables_paginate {
  color: rgb(29, 79, 195);
}
.table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: rgb(23, 70, 226);
  border-bottom-width: 1px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: rgb(23, 70, 226) !important;
  border: 1px solid #010201;
  background-color: transparent;
  background: transparent;
  
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: rgb(41, 19, 243);  
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color:  rgb(41, 19, 243) !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.table{
  color: #106ac4;
}